/* dark mode - cores ficam claras */
:root {
    --text-color: #fff;
    --bg-url: url(../img/bg-mobile.jpg);
    --line-btn-color: rgba(255, 255, 255, 0.5);
    --inside-btn-color: rgba(255, 255, 255, 0.05);
    --inside-color-hover: rgba(0, 0, 0, 0.02);
    --icons-color: rgba(255, 255, 255, 0.2);
}

/* light mode - cores ficam escuras*/
.light {
    --text-color: #000;
    --bg-url: url(../img/bg-mobile-light.jpg);
    --line-btn-color: rgba(0, 0, 0, 0.5);
    --inside-btn-color: rgba(0, 0, 0, 0.05);
    --icons-color: rgba(0, 0, 0, 0.1);
}