body {
    background: url(../img/bg-mobile.jpg) no-repeat top center/cover;


    /* background: color image repeat position/size; */
}

#container {
    width: 360px;
    /* height: 712px; */
    margin: 56px auto 0px;
}


#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 50%;
    border: 2px solid #800080;
}

#profile p {
    font-weight: 500;
    line-height: 24px;

    margin-top: 8px;
}